node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/.temp/
*.log
build_output.txt
qa-history.json

.env

# Local Netlify folder
.netlify
docs/.vitepress/config.ts.timestamp-*.mjs
